{% extends 'base.html' %}
{%load static%}
{% block title %}Create Profile{% endblock %}
{% block content %}

{% if user.is_authenticated %}
<div class="d-flex justify-content-center">
    <div class="col-md-10">
        <div class="bg-image shadow-2-strong rounded" style="background-image: url('{% static 'myblog/images/form-background.jpg'%}')">
            <div class="mask rounded" style="background-color: rgba(0, 0, 0, 0.6)">
                <div class="d-flex justify-content-center">
                    <div class="form-group fw-semibold text-light col-md-10">
                        <form enctype="multipart/form-data" method="post">
                            <br>
                            <h1 class="d-flex justify-content-center mb-4">Create Profile Page</h1>
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button class="btn btn-primary mb-4">Create Profile</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
<h3>Please Login to Edit Profile</h3>
{% endif %}
{% endblock %}

